body #logo {
  width: 60%;
  height: 200px;
}
body section {
  padding: 5px;
}
body #header {
  padding-top: 310px;
}
body #menuSpacing {
  height: 0;
}
body #gallery li,
body #gallery img {
  height: auto;
}
body #gallery ul {
  max-height: 5540px;
}
