/* Taken from skeleton.css, to be rolled into this stylesheet */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }
  .one-half.column {
    width: 48%;
  }
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}
@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}
p {
  margin-top: 0;
}
a {
  color: #1eaedb;
}
a:hover {
  color: #0fa0ce;
}
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="button"].button-primary,
input[type="reset"].button-primary,
input[type="submit"].button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
.button.button-primary:focus,
.button.button-primary:hover,
button.button-primary:focus,
button.button-primary:hover,
input[type="button"].button-primary:focus,
input[type="button"].button-primary:hover,
input[type="reset"].button-primary:focus,
input[type="reset"].button-primary:hover,
input[type="submit"].button-primary:focus,
input[type="submit"].button-primary:hover {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: 400;
}
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
td,
th {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
td:first-child,
th:first-child {
  padding-left: 0;
}
td:last-child,
th:last-child {
  padding-right: 0;
}
.button,
button {
  margin-bottom: 1rem;
}
fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem;
}
blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 2.5rem;
}
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* end skeleton */

.center {
  text-align: center;
}

/**
 * HTML elements
 */
 html {
  scroll-behavior: smooth;
 }
body {
  font-family: "Roboto", sans-serif;
  background-color: #eee;
  color: #333;
  margin: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body section {
  padding: 65px;
}

body section h2 {
  text-align: center;
  margin-bottom: 65px;
}

body nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(85, 85, 85, 0.5);
  color: #fff;
  z-index: 2;
}

body nav #menu {
  position: sticky;
  width: 100%;
  height: 50px;
  border-top: 1px solid #7c7c7c;
  border-bottom: 1px solid #7c7c7c;
  background-color: #555;
}

body nav #menu a {
  color: #fff;
  text-decoration: none;
}

body nav #menu a:hover {
  color: #ccc;
  text-decoration: underline;
}

body nav #menu ul {
  padding: 0;
  margin: 0;
  text-align: right;
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

body nav #menu li {
  display: inline-block;
  padding: 0 15px;
  margin: 0;
}

body nav #menu li ~ li {
  border-left: 2px solid #fff;
}

body #menuSpacing {
  width: 100%;
  position: relative;
  height: 175px;
}

body #logo {
  background-image: url(../images/creative-concrete-ltd-logo-circle.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 200px;
  width: 350px;
  height: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
}

body .shadowed {
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
  filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='12' dy='12' result='offsetblur'/><feFlood flood-color='rgba(0,0,0,0.5)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

body #header {
  background-image: url(../images/headerBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  font-size: 16pt;
  font-weight: 100;
  text-align: center;
  padding-top: 380px;
}

body #header label {
  color: #ccc;
  font-weight: lighter;
  display: inline;
}

body #header a {
  color: #fff;
  text-decoration: none;
}

body #header a:hover {
  color: #fff;
  font-weight: normal;
}

body #gallery {
  background-color: #fff;
  text-align: center;
}

body #gallery ul {
  list-style-type: none;
  columns: 3;
  column-gap: 8px;
  /* text-align: center; */
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* max-height: 4250px; */
  /* margin: 0; */
  /* padding: 0; */
}

@media screen and (max-width: 800px) {
  img {
    max-width: 100%;
  }
  body #gallery ul {
    columns: 1;
  }
}

body #gallery li {
  /* display: inline-block; */
  display: flex;
  padding: 0;
  overflow: hidden;
  margin: unset;
  margin-bottom: 8px;
}

.cta-button {
  display: inline-block;
  margin: 35px 10px 10px 10px;
  padding: 10px;
  display: inline-block;
  background-color: #757575;
  color: #fff;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12pt;
  padding: 15px 25px;
  border: 2px solid #3f3f3f;
}

.cta-button:focus,
.cta-button:hover {
  border: 2px solid orange;
  color: orange;
}

body #gallery .gallery-thumb {
  display: flex;
  position: relative;
  border: 2px solid transparent; /* because images have a 2px focus ring when focused */
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

body #gallery .gallery-thumb img {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
}

body #gallery .gallery-thumb:focus {
  border: 2px solid black;
}

body #credits {
  padding: 50px 0;
  background-color: #555;
  color: #ccc;
  box-shadow: inset 1px 7px 26px 0px #2e2e2e;
  text-align: center;
}

body .container {
  max-width: 850px;
}

form .button-primary.submit-button.wow {
  background-color: #147390;
}

form .button-primary.submit-button.wow:focus {
  border: 2px solid black;
}

.call-link {
  color: #147390;
}

.hide-accessibly {
  background-image: url(/the_img.png); /* shows image */
  height: 100px; /* be sure to set height & width */
  width: 600px;

  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
