body {
  #logo {
    width: 60%;
    height: 200px;
  }

  section {
    padding: 5px;
  }

  #header {
    padding-top: 310px;
  }

  #menuSpacing {
    height: 0;
  }

  #gallery {
    li, img {
      width: 100%;
      height: auto;
    }
  }
}
