/* YUI Reset */
@import url(http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css);

/* Skel */
@import url(https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css);

.center {
  text-align:center;
}

/**
 * HTML elements
 */
body {
  font-family:'Roboto', sans-serif;
  background-color:#eee;
  color:#333;

  section {
    padding:65px;

    h1 {
      text-align:center;
      margin-bottom:65px;
    }

    button {
      margin: 35px 10px 10px 10px;
    }
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(85,85,85,0.5);
    color: #fff;
    z-index: 2;

    #menu {
      position: sticky;
      width: 100%;
      height: 50px;
      border-top: 1px solid #7c7c7c;
      border-bottom: 1px solid #7c7c7c;
      background-color: #555;

      a {
        color:#fff;
        text-decoration:none;
      }

      a:hover {
        color:#ccc;
        text-decoration:underline;
      }

      ul {
        padding:0;
        margin:0;
        text-align:right;
        position: relative;
        top: 50%;
        transform: translateY(50%);
      }

      li {
        display:inline-block;
        padding:0 15px;
        margin:0;
      }

      li~li {
        border-left: 2px solid #fff
      }

    }

  }

  #menuSpacing {
    width:100%;
    position:relative;
    height:175px;
  }

  #logo {
    background-image:url(../images/logo-in-circle-noshadow.png);
    background-position:center center;
    background-size:contain;
    background-repeat:no-repeat;
    position:absolute;
    top:200px;
    width:350px;
    height:350px;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:100000;
  }

  .shadowed {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='12' dy='12' result='offsetblur'/><feFlood flood-color='rgba(0,0,0,0.5)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  }

  #header {
    background-image:url(../images/headerBG.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    color:#fff;
    font-size:16pt;
    font-weight:100;
    text-align:center;
    padding-top:380px;

    button {
      background-color:rgba(85,85,85,0.8);
      color:#fff;
      height: 50px;
      text-transform: none;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-size: 12pt;
      padding: 5px 15px;
      margin: 30px;
      border:2px solid #3f3f3f;
    }

    label {
      color:#ccc;
      font-weight:lighter;
      display:inline;
    }

    a {
      color:#fff;
      display:inline;
      text-decoration:none;
    }

    a:hover {
      color:#fff;
      font-weight:normal;
    }
  }

  #gallery {
    background-color:#fff;
    text-align:center;

    ul {
      list-style-type:none;
      text-align:center;
      margin:0;
      padding:0;
    }

    li {
      display:inline-block;
      padding:0;
      margin:4px;
      width:200px;
      height:130px;
      overflow:hidden;
      border-radius:5px;
    }

    img {
      width:200px;
    }

    button {
      background-color:rgba(85,85,85,0.8);
      color:#fff;
      height:50px;
      text-transform:none;
      font-family:'Roboto', sans-serif;
      font-weight:100;
      font-size:12pt;
      padding:5px 15px;
      border:2px solid #3f3f3f;
    }
  }

  #credits {
    padding:50px 0;
    background-color:#555;
    color:#999;
    box-shadow: inset 1px 7px 26px 0px rgba(46,46,46,1);
    text-align:center;

    a {
      color:#888;
    }
  }

  .container {
    max-width:850px;
  }
}

@import './magnific-popup';
